.landing-page__text {
  height: 35%;
}

.landing-page h1 {
  width: 55%;
  margin-bottom: 100px;
}

form {
  padding: 100px 100px;
}

.contact-form {
  padding: 130px 0 210px 0;
}

.footer-left-side img {
  width: 40%;
}

.copyright-right-side {
  width: 22%;
}
