.landing-page {
  margin: 24% 0;
}

.landing-page h1 {
  width: 55%;
  margin-bottom: 100px;
}

form {
  padding: 100px 100px;
}

.contact-form {
  padding: 130px 0 180px 0;
}

.copyright-right-side {
  width: 22%;
}
