@import url(reset.css); 
@import url(variables.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap);

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container, .copyright-container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.short-description {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 36px;
  line-height: 42px; 
}


h1 { 
  color: var(--gray);
  font-weight: 900;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

h2 {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
}

p {
  color: var(--gray);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
