.container, .copyright-container {
  width: 80%;
}

.background {
  height: 76vh;
}

.background-shadow {
  height: 76%;
}

nav {
  position: relative;
  top: 26px;
  display: flex;
  align-items: center; 
  width: 100%;
  height: 64px;
  margin-top: 0;
  background-color: var(--white);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn-mobile-menu {
  display: none;
}

.btn-contact {
  width: 30%;
}

.landing-page h1 {
  width: 65%;
}

.about-us, .gallery {
  height: 500px;
  padding: 50px;
}

.about-us .short-description, .gallery .short-description {
  width: 90%;
}

.about-us .short-description, .gallery .short-description, .promise .short-description, .offer .short-description {
  margin: 15px 0 40px 0;
}

.box-wrapper {
  display: flex;
  justify-content: space-between;
}

.promise-box {
  margin-right: 25px;
}

.promise-box:last-child {
  margin-right: 0;
}

.promise-box h2 {
  margin-bottom: 25px;
}

.offer {
  margin: 100px 0;
}

.grid-wrapper {
  grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5%;
}

.contact-form {
  padding: 100px 0 180px 0;
}

.contact-form .container {
  flex-direction: row;
}

.time-promise {
  width: 40%;
  margin-top: 0;
  margin-left: 40px;
}


.opinions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 70px;
}

.opinion-title {
  display: flex;
  flex-direction: column;
}

.opinion-title .short-description {
  margin: 0;
}

.opinion-title h1 {
  margin-bottom: 20px;
}

.opinion {
  margin-bottom: 0; 
}

.realiz-counter {
  padding: 80px 0 180px 0;
}

.realiz-counter__top {
  flex-direction: row;
  margin-bottom: 40px;
}

.realiz-counter .short-description {
  margin-top: 15px;
}

.realiz-counter__bottom {
  flex-direction: row;
}

.realiz-counter__bottom h2 {
  margin: 0;
}

.invitation-to-contact {
  bottom: -65px;
  height: 75px;
  width: 80vw;
}

footer {
  padding-top: 140px;
  text-align: left;
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
}

.footer-left-side, .footer-center-1, .footer-right-side {
  row-gap: 12px;
}

.footer-left-side img {
  width: 80%;
  vertical-align: middle;
}

.footer-left-side {
  text-align: center;
}

.footer-left-side p {
  width: 67%;
  margin: 0 auto;
}

.footer-center-1 h2, .footer-right-side h2 {
  margin-top: 0;
}

.copyright {
  height: 50px;
  margin-top: 50px;
}

.copyright-right-side {
  display: flex;
  justify-content: space-between;
  width: 28%;
}
