:root {
    --white: #FFFFFF;
    --dark-blue: #02133C;
    --gray: #4B4B4B;
    --blue: #4AB2E8;
    --light-grey: #F5F5F5;
    --alto-grey: #D5D5D5;
    --yellow: #FBDA41;
    --dusty-gray: #959595;
}
